<div class="row">
  <h3 class="abstract column c7 alpha">
    Enhance the behavior of autonomous characters with social identity awareness to play situations with different social groups. Explore the role of social identity in partnerships and social dilemmas in mixed motive tasks (e.g snow-drift games).
  </h3>
</div>
<div class="row news-wrapper">
  <div class="news column c3 alpha">
    <h4>News Test</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec dolor at lectus aliquet bibendum. Praesent tellus libero, auctor a gravida at, elementum eu nisl. Sed volutpat, velit eu pretium consequat, lectus odio sagittis nibh, nec dictum nulla elit sed massa. Sed mauris magna, scelerisque id mattis sit amet, blandit ac diam.</p>
    <a href="">Continue</a>
  </div>
  <div class="news column c3">
    <h4>Another News Test</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec dolor at lectus aliquet bibendum. Praesent tellus libero, auctor a gravida at, elementum eu nisl. Sed volutpat, velit eu pretium consequat, lectus odio sagittis nibh, nec dictum nulla elit sed.</p>
    <a href="">Continue</a>
  </div>
  <div class="news column c3 omega">
    <h4>Third title</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec dolor at lectus aliquet bibendum. Praesent tellus libero, auctor a gravida at, elementum eu nisl. Sed volutpat, velit eu pretium consequat, lectus odio sagittis nibh, nec dictum nulla elit sed massa. Sed mauris magna.</p>
    <a href="">Continue</a>
  </div>
</div>

