<div class="row">
  <h3 class="abstract column c7 alpha">
    Enhance the behavior of autonomous characters with social identity awareness to play situations with different social groups. Explore the role of social identity in partnerships and social dilemmas in mixed motive tasks (e.g snow-drift games).
  </h3>
</div>
<div class="row news-wrapper">
  <div class="news column c3 alpha">
    <h4>Third Project Meeting</h4>
    <p>The third project meeting took place in Oeiras at IST-Taguspark. The discussion was centered in the design of the first game scenario.</p>
  </div>
  <div class="news column c3">
    <h4>Colab Newsletter</h4>
    <p>INVITE was selected for the R&amp;D Project Highlight in the June issue of the CoLab Square Newsletter.</p>
  </div>
  <div class="news column c3 omega">
    <h4>Second Project Meeting</h4>
     <p>The second project meeting took place in Austin at UT-Austin. The discussion was centered in the project requirements.</p>
  </div>
</div>

