<div class="row">
  <h3 class="abstract column c7 alpha">
    Enhance the behavior of autonomous characters with social identity awareness to play situations with different social groups. Explore the role of social identity in partnerships and social dilemmas in mixed motive tasks (e.g snow-drift games).
  </h3>
</div>

Project INVITE (social Identity and partNership in VIrTual Environments) is a research project on the themes of multimedia, artificial intelligence and games financed by the UTAustin – Portugal cooperation agreement (ref. UTA-Est/MAI/0008/2009). It started on October 2010 and has duration of 36 months.

The main topic explored on the project is the development of artificial intelligence mechanisms to create artificial players (autonomous agents) that can perform well in complex social situations provided in games and virtual environments. We focus on the interactions with human players, therefore, the performance of the agents needs to be believable (i.e. agents need to display human-like behavior). For that, agents should be able to:

<ol>
  <li> Understand the different social groups in the social environment, each with its own interests, values, structure and identity. We will explore the relevance of social identity in the process of decision-making and the definition of self. </li>
  <li> Understand the game. Believability also implies rational behaviour when rational choices are expected. We will explore the role of rationality in believable agents. </li>
  <li> Understand the other players. Part of this implies understanding how they are positioned in the social groups, but it also includes building expectations about they strategies and plans. </li>
</ol>

Please check the Research page for more details.

<div class="row news-wrapper">
  <div class="news column c3 alpha">
    <h4>Third Project Meeting</h4>
    <p>The third project meeting took place in Oeiras at IST-Taguspark. The discussion was centered in the design of the first game scenario.</p>
  </div>
  <div class="news column c3">
    <h4>Colab Newsletter</h4>
    <p>INVITE was selected for the R&amp;D Project Highlight in the June issue of the CoLab Square Newsletter.</p>
  </div>
  <div class="news column c3 omega">
    <h4>Second Project Meeting</h4>
     <p>The second project meeting took place in Austin at UT-Austin. The discussion was centered in the project requirements.</p>
  </div>
</div>

