/* @group Float Clears */

#header ul:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* IE7 specific */
#header ul {
    min-height: 0;
}

/* @end */

/* @group Text Styles */

/* @group font-family */

body {
	font: 13px/1.35 Verdana, Geneva, Tahoma, "Trebuchet MS", sans-serif;
}

input, #content-wrapper a {
    font: 14px/1.3 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.abstract {
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* @end */

a {
    color: #26a7ff;
    text-decoration: none;
    outline: 0;
}

a:hover {
    color: #85a7c0;
}

a:active {
    color: #ccc;
}

#content-wrapper a {
	background: url(../images/bg-blue_50.png);
	color: #fff;
	padding: 3px 7px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0,0,0,.25);
}

#content-wrapper a:hover {
	background: url(../images/bg-blue_80.png);
	text-shadow: none;
}

#content-wrapper a:active {
	background: url(../images/bg-gray_50.png);
}

#content-wrapper p::selection {
	background: #4db2ff;
	color: #fff;
}

/* @group Base Text */



hr {
    border: 0 #ccc solid;
    border-top-width: 1px;
    clear: both;
    height: 0;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    margin-left: 30px;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 20px;
}

/* @end */

/* @end */

html, body {
	min-height: 100%;
}

#page-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	min-width: 980px;
	min-height: 100%;
	z-index: 1;
	overflow: hidden;
	background: #e6ebef;
	padding-left: 40px;
}

/* @group Backgrounds */

.backgrounds {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.backgrounds div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.backgrounds .hex {
	background: url(../images/bg-pattern_hex.png) 0px -22px;
	z-index: 2;
}

.backgrounds .triangle {
	background: url(../images/bg-pattern_triangle.png) 5px 0;
	z-index: 1;
}

.backgrounds .highlight {
	background: url(../images/bg-logo-grad.png) no-repeat 0 0;
	z-index: 3;
}

/* @end */

/* @group Header */

#header ul {
	list-style: none;
}

#header li {
 	margin-left: 0;
 	display: block;
 	float: left;
}

/*.logo {
	position: absolute;
	left: 40px;
	top: 25px;
	background: url(../images/logo.png);
	display: block;
	width: 94px;
	height: 147px;
}*/

#logo {
	position: absolute;
	display: block;
	width: 124px;
	height: 141px;
	top: 31px;
	left: 38px;
}

#logo img {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

#logo img:first-child {
	display: block;
}

/* @group menu */

#menu {
	position: relative;
	margin-top: 50px;
	margin-bottom: 30px;
}

#menu li {
	float: left;
	padding: 1px 0 2px;
	margin-bottom: 9px;
}

#menu .divider {
	padding-right: 38px;
	background: url(../images/divider_big.png) no-repeat right;
	margin-right: 8px;
}

#menu .introduction {
	margin-right: 4px;
	padding-right: 37px;
}

#menu .home {
	padding-right: 36px;
	margin-right: 7px;
}

#menu .news {
	margin-right: 7px;
}

#menu .partners {
	padding-right: 35px;
	margin-right: 4px;
}

#menu .contact {
	padding-right: 30px;
	margin-right: 6px;
}

#menu a {
	text-indent: -9999px;
	display: block;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#menu a:hover, #menu .active a {
	background-position: 0 -40px;
}

#menu a:active {
	background-position: 0 -80px;
}

#menu .home a {
	background-image: url(../images/title_home.png);
	width: 124px;
}

#menu .introduction a {
	background-image: url(../images/title_introduction.png);
	width: 327px;
}

#menu .schedule a {
	background-image: url(../images/title_schedule.png);
	width: 218px;	
}

#menu .news a {
	background-image: url(../images/title_news.png);
	width: 117px;	
}

#menu .partners a {
	background-image: url(../images/title_partners.png);
	width: 222px;	
}

#menu .contact a {
	background-image: url(../images/title_contact.png);
	width: 189px;	
}

#menu .links a {
	background-image: url(../images/title_links.png);
	width: 129px;	
}

/* @end */

/* @group Utils */

#utils {
	position: relative;
	padding-left: 395px;
	background: url(../images/phrase.png) no-repeat;
	margin-left: -1px;
}

#utils .divide {
	background: url(../images/divider_small.png) no-repeat right;
	padding-right: 15px;
	margin-right: 6px;
}

#utils a {
	display: block;
	text-indent: -9999px;
	height: 8px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

#utils a:hover, #utils a.active {
	background-position: 0 -20px;
}

#utils a:active {
	background-position: 0 -40px;
}

#utils .login a {
	background-image: url(../images/title_login.png);
	width: 36px;
}

#utils .file-manager a {
	background-image: url(../images/title_file-manager.png);
	width: 90px;
}

/* @end */

/* @end */

#content-wrapper {
	position: relative;
	padding: 20px 0 110px;
}

/* @group Content */

.abstract {
	color: #747474;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 20px;
}

h4 {
	font-size: 16px;
	color: #199cff;
}

.news h4 {
	padding: 0 12px 5px 8px;
	margin-bottom: 0px;
	border-bottom: 1px solid #bbb;
	margin-left: 2px;
	margin-right: -2px;
}

.news p {
	background: url(../images/bg-white_60.png);
	font-size: 11px;
	color: #2e2e2e;
	padding: 10px;
	line-height: 1.5;
	margin-bottom: 0;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.02);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.02);
	box-shadow: 1px 1px 3px rgba(0,0,0,.02);
}

h2 {
	color: #fff;
	font-size: 30px;
	margin: 0;
	padding: 0 10px;
	background: url(../images/bg-gray_20.png);
	text-shadow: 1px 1px 2px rgba(0,0,0,.08);
}

.the-content p {
	line-height: 1.5;
	color: #222;
	background: url(../images/bg-white_70.png);
	padding: 10px 40px 20px 10px;
}

.the-content p+p {
	margin-top: -30px;
}

.the-content ul {
	list-style: none;
	background: url(../images/bg-white_70.png);
	padding: 20px 40px 15px 20px;
	margin-left: 30px;
	color: #5f6a7e;
}

.the-content p+ul {	
	margin-right: -10px;
	margin-top: -15px;
}

.the-content li {
	margin: 0 0 10px;
	padding-left: 10px;
}

.the-content li:before {
	/*height: 8px;*/
	content: "///";
    display: inline-block;
    float: left;
	/*background: url(../images/divider_small.png) repeat-x 0 0;*/
	margin-top: 2px;
	margin-right: 9px;
	font-size: 10px;
	color: #d200cb;
	margin-left: -30px;
	background: url(../images/bg-gray_05.png);
	padding-left: 20px;
}

/* @end */

#footer-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 50px;
	height: 40px;
	background: url(../images/bg-pattern_footer.png) repeat-x 0;
}

/* @group Footer */

.footer {
	padding-left: 40px;
}

.footer .copy {
	display: block;
	text-indent: -9999px;
	width: 578px;
	height: 20px;
	background: url(../images/footer-text.png);
}

/* @end */


















